# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator/


*.iml
.gradle
build
app/build
app/*.apk
app/*.iml
app/release
.idea/misc.xml
.idea/runConfigurations.xml
.idea/markdown-navigator
.idea/markdown-navigator.xml
local.properties

app/src/main/res/drawable/ic_clouds_and_sun.xml
app/src/main/res/drawable/ic_umbrella_1.xml
app/src/main/res/drawable/ic_sunny.xml
app/src/main/res/drawable/ic_stars_2.xml
app/src/main/res/drawable/ic_snowing.xml
app/src/main/res/drawable/ic_raindrops.xml
app/src/main/res/drawable/ic_rainbow.xml
app/src/main/res/drawable/ic_night_rain.xml
app/src/main/res/drawable/ic_moon_9.xml
app/src/main/res/drawable/ic_bolt.xml
