.idea/

app/build
app/*.apk
app/*.iml
app/release
app/src/main/res/drawable/ic_clouds_and_sun.xml
app/src/main/res/drawable/ic_umbrella_1.xml
app/src/main/res/drawable/ic_sunny.xml
app/src/main/res/drawable/ic_stars_2.xml
app/src/main/res/drawable/ic_snowing.xml
app/src/main/res/drawable/ic_raindrops.xml
app/src/main/res/drawable/ic_rainbow.xml
app/src/main/res/drawable/ic_night_rain.xml
app/src/main/res/drawable/ic_moon_9.xml
app/src/main/res/drawable/ic_bolt.xml

*.iml
.gradle
build
local.properties