<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application
        android:name=".helper.EasyDiaryApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity
            android:name=".activities.DiaryMainActivity"
            android:exported="false"
            android:theme="@style/SplashScreenTheme" />

        <activity-alias
            android:name=".activities.DiaryMainActivity.EasyDiary"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".activities.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Dark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dark"
            android:roundIcon="@mipmap/ic_launcher_dark_round"
            android:targetActivity=".activities.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Green"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:roundIcon="@mipmap/ic_launcher_green_round"
            android:targetActivity=".activities.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Debug"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_debug"
            android:roundIcon="@mipmap/ic_launcher_debug_round"
            android:targetActivity=".activities.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.DiaryWritingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SplashScreenTheme"
            />
        <activity
            android:name=".activities.DiaryReadingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SplashScreenTheme"
            />
        <activity
            android:name=".activities.DiaryEditingActivity"
            android:theme="@style/SplashScreenTheme"
            />
        <activity
            android:name=".activities.DevActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label=""
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".compose.QuickSettingsActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".activities.CustomizationActivity"
            android:label="@string/customize_colors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CalendarActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.PhotoViewPagerActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostcardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostcardViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TimelineActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.DashboardActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.PostcardViewPagerActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FingerprintLockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PinLockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MarkDownViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SymbolFilterPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GalleryViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compose.Demo1Activity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".compose.SelfDevelopmentRepoActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".services.NotificationService" />
        <service
            android:name=".services.DiaryMainWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".receivers.AlarmReceiver" />
        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widgets.DiaryMainWidget"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_app_widget_info" />
        </receiver>
    </application>
</manifest>