<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blog.korn123.easydiary">
    <application
        android:allowBackup="true"
        android:name=".helper.EasyDiaryApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.FullScreen"
            android:name=".activities.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" android:label="" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CustomizationActivity" android:label="@string/customize_colors" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.WebViewActivity" android:label="Licenses" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryInsertActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryReadActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryUpdateActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiaryMainActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.google.android.gms.drive.GoogleDriveUploader" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.google.android.gms.drive.GoogleDriveDownloader" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BarChartActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CalendarActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiaryLockActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LockSettingActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PhotoViewPagerActivity" android:theme="@style/AppTheme.NoActionBar" android:hardwareAccelerated="false" />
        <activity android:name=".activities.PostCardActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.TimelineActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PostCardViewerActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PostcardViewPagerActivity" android:theme="@style/AppTheme.NoActionBar" android:hardwareAccelerated="false" android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>